<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" id="logo">
    <strong>
      <h1>Sci-fi RPG</h1>
    </strong>
  </a>
 <button class="btn btn-lg btn-outline-secondary" type="button" id="logout">Logout</button>
</nav>



<br>
<br>

<div class="container">
  <br>
  <br>
  <div class="card-deck">
    <div class="card animated fadeIn" id="player-card">
      <img src="img/human.jpg" class="card-img-top" alt="Player Img">
      <div class="card-body">
        <h3 class="card-title">{{player.charactername}}</h3>
        <h5 class="card-text" id="player-card-health">Health: 4</h5>
        <h5 class="card-text" id="player-card-energy">Energy: 2</h5>
      </div>
      <div class="card-footer">
        <h3 class="player-level">Level {{player.characterlevel}}</h3>
      </div>
    </div>
    <div class="card-log animated fadeIn">
      <div class="card-body">
        <img class="vs" src="img/vs.png" alt="vs">
        <h3 class="card-title">Battle Log</h3>
        <p class="card-text" id="battle-log-text">Make a move!</p>
        <p class="card-text" id="battle-log-text-02"></p>
        <p class="card-text" id="battle-log-text-03"></p>
      </div>
    </div>
    <div class="card animated fadeIn" id="enemy-card">
      <img src="img/cyborg.png" class="card-img-top" alt="Player Img">
      <div class="card-body">
        <h3 class="card-title">Machine</h3>
        <h5 class="card-text" id="enemy-card-health">Health: 4</h5>
        <h5 class="card-text" id="enemy-card-energy">Energy: 2</h5>
      </div>
      <div class="card-footer">
        <h3 class="enemy-level">Level 2</h3>
      </div>
    </div>
  </div>

  <br>

  <div class="btn-toolbar animated fadeInUp">
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/rocket-kick.png" alt="Skill-01"
          id="skill-01"><span>Rocket Kick&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Atk :
          2-4&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 0&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling :
          0</span>
      </div>
    </button>
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/kinetic-blade.png" alt="Skill-02"
          id="skill-02"><span>Kinetic Blade&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Atk :
          3-4&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 0&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling :
          0</span>
      </div>
    </button>
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/scope-shot.png" alt="Skill-03"
          id="skill-03"><span>Scope Shot&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Atk :
          1-7&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 2&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling :
          0</span></div>
    </button>
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/mirv-grenade.png" alt="Skill-04"
          id="skill-04"><span>MIRV Grenade&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Atk :
          1-2 x 3&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 3&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling :
          x.25 Utility</span></div>
    </button>
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/orbital-strike.png" alt="Skill-05"
          id="skill-05"><span>Orbital Strike&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Atk :
          8&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 6&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling : x.25
          Intelligence</span></div>
    </button>
    <button>
      <div class="click-to-top animated fadeIn"><img src="img/humanSkills/stim-injection.png" alt="Skill-06"
          id="skill-06"><span>Stim Injection&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Healing :
          5&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp; Energy Cost : 3&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;Scaling : x.5
          Intelligence</span></div>
    </button>
    <br>

    <script type="module" src="./game.js"></script>