<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" id="logo"><strong>
      <h1>Sci-fi RPG</h1>
    </strong></a>
</nav>

<br>
<br>

<div class="container">
  <div class="login-box animated fadeIn">
    <form class="login-form">
      <header>
        <h1 class="login-title">Character Login</h1>
      </header>
      <label for="username">Username: </label>
      <input class="usernamebox" type="text" name="username" id="username">

      <label class="userpword" for="userpword">Password: </label>
      <input class="pwbox" type="password" name="userpword" id="userpword">

      <input class="submit-btn" type="submit" value="Login">
    </form>
  </div>
</div>

<div>
  <script src="js/login.js"></script>
</div>