<form>
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">

  <label for="userpword">Password: </label>
  <input type="text" name="userpword" id="userpword">

  <input type="submit" value="Login">
</form>

<script src="js/login.js"></script>