<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" id="logo"><strong>
            <h1>Sci-fi RPG</h1>
        </strong></a>
</nav>

<br>
<br>

<div class="container">
    <div class="signup-box animated fadeIn">
        <form class="signup-form">
            <header>
                <h1 class="signup-title">Create Your Character</h1>
            </header>
            <input class="form-control form-control-md" type="text" placeholder="User Name" id="username">
            <input class="form-control form-control-md" type="text" placeholder="Password" id="userpword">
            <select class="form-control form-control-md" id="charactertype">
                <option selected disabled hidden>Choose your class...</option>
                <option>Human</option>
                <option>Cyborg</option>
                <option>Alien</option>
                <option>Machine</option>
            </select>
            <input class="form-control form-control-md" type="text" placeholder="Character Name" id="charactername">
            <div class="submit-btn-div"><input class="submit-btn" type="submit" value="Submit"></div>
        </form>
    </div>
</div>

<div>
    <script src="js/signup.js"></script>
</div>